.hero {
  @include flex(center, center, column, 0px);
  background: url("../img/meals.jpg");
  height: 28rem;
  background-size: cover;
  position: relative;

  &__table {
    background-color: $secondaryPurple;
    height: 200px;
    width: 600px;
    border-radius: 15px;
    padding: 15px 25px;
    position: absolute;
    top: 350px;
    @include flex(center, center, column, 20px);

    h4 {
      color: white;
      font-size: 2rem;
    }
  }

  @include media(small) {
    &__table {
      width: 450px;
      font-size: 1rem;
      top: 120px;

      h4 {
        font-size: 1.4rem;
      }

      p {
        font-size: 0.85rem;
        color: white;
      }
    }

    @include media(smallest) {
      &__table {
        width: 300px;
        height: 350px;
        font-size: 1rem;
        top: 60px;

        h4 {
          font-size: 1.4rem;
          text-align: center;
        }

        p {
          font-size: 0.9rem;
          color: white;
        }
      }
    }
  }
}
