.modal-container {
  @include flex(center, center, column, 50px);
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.577);
  min-height: 100%;
  width: 100%;
  z-index: 20;
  &__modal {
    background-color: white;
    padding: 25px;
    width: 500px;
    border-radius: 15px;
    border: 1px solid black;
    list-style: none;

    &__list {
      border-bottom: 1px solid $mainPurple;
      @include flex(space-between, center, row, 50px);
      padding: 15px;

      &--total {
        font-size: 1.5rem;
      }

      &--lower-btns {
        margin-top: 25px;
        margin-left: 50%;
        @include flex(space-between, center, row, 10px);

        button {
          padding: 5px 30px;
          background-color: $mainPurple;
          font-size: 1.1rem;
          border-radius: 15px;
          cursor: pointer;
          border: 1px solid transparent;
          &:hover {
            background-color: white;
            color: $mainPurple;
            border: 1px solid black;
          }
        }
      }

      &--total {
        @include flex(space-between, center, row, 50px);
        margin-top: 15px;
      }

      &--left {
        @include flex(center, flex-start, column, 10px);

        &--price {
          @include flex(center, center, row, 50px);
        }
      }

      &--right {
        @include flex(center, center, row, 10px);

        button {
          padding: 5px 20px;
          background-color: $mainPurple;
          font-size: 1.1rem;
          border-radius: 15px;
          cursor: pointer;
          border: 1px solid transparent;
          &:hover {
            background-color: white;
            color: $mainPurple;
            border: 1px solid black;
          }
        }
      }
    }
  }
}
