.nav-container {
  background-color: $mainPurple;
  padding: 15px 100px;
  @include flex(space-between, center, row, 0);

  &__logo {
    color: white;
    font-size: 2rem;
    font-weight: 500;
  }
  &__cart {
    @include media(large) {
      background-color: $secondaryPurple;
      @include flex(center, center, row, 30px);
      padding: 8px 40px;
      border-radius: 15px;
      font-size: 1.2rem;
      color: white;
      font-weight: 500;
    }

    &--left {
      @include flex(center, center, row, 10px);
    }

    &--number {
      background-color: $mainPurple;
      padding: 5px;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: center;
    }
  }
}
